<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout-admin}" layout:fragment="body">
<body>
    <section>
		<div id="home-wrap">
		    <!-- 현재 시간 표출 -->
		    <p id="time"></p>
		</div>
		
		<div id="control-wrap">
			<button id="bluetooth-speaker" onclick="bluetoothSpeakerControl()">블루투스 스피커 제어<p>[<span id="bluetooth-speaker-fl">OFF</span>]</p></button>
			<button id="lighting" onclick="lightingControl()">조명 제어<p>[<span id="lighting-fl">OFF</span>]</p></button>
		</div>
    </section>
</body>

<script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
<script th:src="@{/js/admin_home.js}"></script>
</html>