<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout-admin}" layout:fragment="body">
<style>
</style>
<body>
    <section>
		<div id="home-wrap">
		    <!-- 현재 시간 표출 -->
		    <p id="menu-name">IP 카메라 테스트</p>
		</div>
		
		<!--
		<div class="data-result-info-box">
			<span>마지막 업데이트 시간 : </span>
			<span id="response-time"></span>
			
			<p></p>
			
			<span>응답 메세지 값 : </span>
			<span id="response-data"></span>
		</div>
		
		<div class="data-box-wrap">
			<div class="data-box">
				<p class="data-box-title">CPU 클럭 속도</p>
				<p id="voltage">0</p>
			</div>
			<div class="data-box">
				<p class="data-box-title">RAM 메모리</p>
				<p id="heap-memory">0</p>
			</div>
			<div class="data-box">
				<p class="data-box-title">WiFi 강도</p>
				<p id="rssi">0</p>
			</div>
		</div>		
		-->
    </section>
</body>

<script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
<script th:src="@{/js/admin_ip_camera_test.js}"></script>
</html>