<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout-admin}" layout:fragment="body">
<body>
    <section>
		<!--
		<div id="home-wrap">
		    <p id="time"></p>
		</div>
		-->
		
		<div id="control-wrap">
			<button id="led" onclick="relayModuleOn()">RELAY MODULE ON</button>
			<button id="led" onclick="relayModuleOff()">RELAY MODULE OFF</button>
		</div>
    </section>
</body>

<script src="https://cdn.jsdelivr.net/npm/mqtt@4.3.7/dist/mqtt.min.js"></script>
<script th:src="@{/js/admin_relay_test.js}"></script>
</html>