<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="nav-admin">
	<nav>
	    <!-- 프로필 사진 -->
	    <div class="profile-wrap">
	        <img class="profile-photo" th:src="@{/img/img-profile.jpg}">
	        <!-- <p><span id="username" th:text="${#authentication.principal.name}"></span>님, 안녕하세요!</p> -->
	        <p><span id="username"></span>HELLO WORLD!</p>
	    </div>

	    <div class="line"></div>
		
		<ul class="toggle-wrap">
			<!-- <p>토글 비활성화</p> -->
			<img id ="toggle" th:src="@{/img/img-btn-toggle-1.png}">
		</ul>
		
	    <ul class="navbar-wrap">
			<li class="main-nav"><img src="https://img.icons8.com/?size=20&id=88608&format=png"><span>메뉴</span></li>
			<li class="sub-nav"><a th:href="@{/admin/mqtt_test}">MQTT 통신 테스트</a></li>
			<li class="sub-nav"><a th:href="@{/admin/default_sensor_test}">기본 센서 테스트</a></li>
			<li class="sub-nav"><a th:href="@{/admin/ip_camera_test}">IP 카메라 테스트</a></li>
			<!-- <li class="sub-nav"><a th:href="@{/admin/led_test}">LED 테스트</a></li> -->
			<!-- <li class="sub-nav"><a href="#">준비 중</a></li> -->
	    </ul>
	</nav>
</html>