* {
    padding: 0;
    margin: 0;
    font-family: 'Verdana';
	
	/* select 금지 */
	/* user-select: none; */
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

select {
    padding: 8px 14px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}

.btn {
	box-sizing: border-box;
    background: lightgray;
    color: #fff;
    font-size: 20px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
	background-color: dimgray;
    transition: background 0.3s ease, transform 0.1s ease;
}

.btn.small {
	padding: 10px;
	font-size: 13px;
}

.btn.yellow {
	background-color: yellow;
	color: #333;
}

.btn.yellow:hover {
	background-color: #ffe143;
}

/* 테이블 */
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

tr {
	background-color: #f8f8f8;
	border: 1px solid #ddd;
}

table th, table td {
	padding: .625em;
	text-align: center;
	font-size: 14px;
	border: 1px solid #dbdbdb;
}

table th {
	text-transform: uppercase;
}

.table-wrap, .data-box-wrap {
	/* padding: 0 10px; */
	max-height: 87vh;
	overflow-y: auto;
}