@font-face {
    font-family: 'Freesentation-9Black';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

header {
	box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #333;
    align-items: center;
}

header span {
    font-family: 'Freesentation-9Black';
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}