@media (max-width:960px) {
	.data-box {
		padding: 30px 50px;
		font-size: 20px;
	}
	
	.data-result-info-box span {
		font-size: 12px;
	}
}

@media (max-width:768px) {
	.profile-wrap {
		display: none;
	}
	
	header {
		border-bottom: 0px;
		display: flex;
		align-items: center;
		padding: 10px;
	}
	
	header span {
	    font-size: 17px;
	}
	
	section {
		flex: auto;
	}
	
	nav {
		width: 100%;
		border-right: 0px;
	}
	
	.navbar-wrap {
		padding: 0px 10px;
		border-bottom: 1px solid #dbdbdb;
	}
	
	.sub-nav {
	    padding: 5px 20px;
	}
	
	nav ul li {
	    margin-bottom: 0px;
	}
	
	#home-wrap {
		display: none;
	}
	
	#control-wrap button {
	    font-size: 20px;
		min-width: 100%;
	}
	
	.mobile-hide {
		display: none;
	}
	
	.data-box {
	    padding: 10px 10px;
	    font-size: 15px;
		border-radius: 5px;
	}
	
	/* 토글 */
	.toggle-wrap {
		display: flex;
	}
}