@font-face {
    font-family: 'Freesentation-9Black';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

section {
    flex: 1;
    min-width: 0;
	min-height: 95vh;
}

/* 툴바 및 메뉴 표출 */
#home-wrap, #menu-wrap {
    /* width: 100%; */
    height: 70px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dbdbdb;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

/* 현재 시간 및 메뉴 표출 */
#time, #menu-name {
    font-family: 'Freesentation-9Black';
    font-size: 25px;
}

#contents-wrap {
    margin: 50px;
}

/* 로그인 */
.login-form-wrap, .exception-form-wrap {
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 30vh;
}

.login-form-wrap h1 {
	font-family: 'Freesentation-9Black';
	font-size: 35px;
	color: #fff;
	width: 100vw;
	padding-bottom: 15px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0.5, 0.5);
}

#login-form {
	box-sizing: border-box;
    background-color: #fff;
    width: 400px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 0.5s ease-out forwards;
	margin: 10px;
}

#login-form input {
	box-sizing: border-box;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 10px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#login-form input:focus {
    border-color: #48A6A7;
    outline: none;
}

#login-form button {
	box-sizing: border-box;
    width: 100%;
    background: #9ACBD0;
    color: #fff;
    font-size: 20px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#login-form button:hover {
	background-color: #006A71;
    transition: background 0.3s ease, transform 0.1s ease;
}

/* 예외 페이지 */
.exception-form-wrap h1 {
	font-family: 'Freesentation-9Black';
	font-size: 40px;
	color: #333;
	width: 100vw;
	padding-bottom: 15px;
}

/* 제어 버튼 */
#control-wrap {
	box-sizing: border-box;
	width: 100%;
	padding: 20px;
	display: flex;
	align-items: center;
	
	/* flex-direction: column; */
}

#control-wrap button {
	box-sizing: border-box;
    font-family: 'Freesentation-9Black';
    width: 300px;
	min-height: 300px;
    background: #dbdbdb;
    color: #333;
    font-size: 30px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
	margin-right: 20px;
	
    /* margin: 20px auto; */
}

#control-wrap button:hover {
	background-color: rgb(192, 192, 192);
    transition: background 0.3s ease, transform 0.1s ease;
}

/* 센서 표출 박스 */
.data-result-info-box {
	margin: 15px 0px;
	padding-left: 20px;
}

.data-box-wrap {
	display:flex;
    justify-content: space-evenly;
}

.data-box {
	background-color: #fff;
	border-radius: 10px;
	border: 1px solid #dbdbdb;
	padding: 35px 65px;
	font-size: 25px;
	text-align: center;
}

.data-box-title {
	font-weight: bold;
	color: darkgray;
	margin-bottom: 10px;
}

.data-result-info-box span {
	font-family: "Gulim", "굴림", sans-serif !important;
	font-size: 13px;
	word-break: break-all;
    white-space: normal;
}